$primary-color: white;
$secondary-color: black;
$decoration-color: #00ffb2;
$basic-spacing: 1.25rem;
$font-size-large: 3.125rem;
$font-size-small: 1.25rem;
$button-border: 1px solid black;
$button-padding: 0.625rem 1.2rem;
